### Overview

We create an example dataset from a [publicly available dataset](https://www.kaggle.com/datasets/frtgnn/dunnhumby-the-complete-journey). Note that these data are for demonstrative purposes only and the specifics are not intended for generalized applications.

For example, the window to value mapping is messy and over estimates total value of the original dataset.

The exported data are intended to be self-contained on their own. If users have questions regarding proper window creation etc., please contact the authors directly.

### Data Preamble

- Download [Dunnhumby](https://www.kaggle.com/datasets/frtgnn/dunnhumby-the-complete-journey) data set and extract to a `data` subdirectory.
- Build and launch the provided Docker image.
- Execute the following notebook from either the container's terminal or Jupyter Notebook (localhost:8888)

This will generate a JSON file that can be read and used directly in subsequent analyes/demonstrations.

In [1]:
# Databricks notebook source
# Import libraries
import datetime
import pandas as pd
import pyspark.sql.functions as sf
from pyspark.sql.window import Window
from dateutil.relativedelta import relativedelta
from pyspark.sql import SparkSession

# SPARK
spark = (
    SparkSession
    .builder
    .getOrCreate()
)

# We'll allow for lagging effects, such as a campaign having effects after the campaign ends
# The value here is arbitrary, the user can change this at their discretion
N_RESPONSE_DAYS = 90

# Start date is arbitrary, just wanted something more "human-readable"
START_DATE = datetime.date(2020, 1, 1)

# UDF to convert number of days to a calendar date
days_to_date = sf.udf(lambda x: START_DATE + relativedelta(days=x-1), DateType())

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/05/06 18:43:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/06 18:43:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
# Let's pull in some raw data
campaign_table = (
  spark
  .createDataFrame(
    # Bishop cheated and used LameDas to do some reading
    pd.read_csv('data/campaign_table.csv')
  )
  .withColumnRenamed(
    'description',
    'campaign_type'
  )
  # Reduce description to A/B/C
  .withColumn(
    'campaign_type',
    sf.upper('campaign_type').substr(5, 1)
  )
  .withColumnRenamed(
    'campaign',
    'campaign_id'
  )
  .withColumnRenamed(
    'household_key',
    'household_id'
  )
).cache()

display(campaign_table.limit(10).toPandas())

  campaign_type  household_id  campaign_id
0             A            17           26
1             A            27           26
2             A           212           26
3             A           208           26
4             A           192           26
5             A           187           26
6             A           183           26
7             A           142           26
8             A           140           26
9             A           134           26

In [3]:
# Campaign descriptions
campaign_desc = (
  spark
  .createDataFrame(
    pd.read_csv('data/campaign_desc.csv')
  )
  .withColumnRenamed(
    'description',
    'campaign_type'
  )
  # Reduce description to A/B/C
  .withColumn(
    'campaign_type',
    sf.upper('campaign_type').substr(5, 1)
  )
  .withColumnRenamed(
    'start_day',
    'window_start'
  )
  .withColumnRenamed(
    'end_day',
    'window_end'
  )
  # Add in response time
  .withColumn(
    'window_end',
    sf.col('window_end') + sf.lit(N_RESPONSE_DAYS)
  )
  .withColumn(
    'window_start',
    days_to_date(sf.col('window_start'))
  )
  .withColumn(
    'window_end',
    days_to_date(sf.col('window_end'))
  )
#   # Arbitrary start date for demonstrative purposes
#   .withColumn(
#     '_start_date',
#     sf.lit(datetime.date(2020, 1, 1))
#   )
#   .withColumn(
#     'transaction_day',
#     # EXPR required here, see https://issues.apache.org/jira/browse/SPARK-26393
#     sf.expr(
#       "date_add(_start_date, day - 1)"
#     )
#   )
  .withColumnRenamed(
    'campaign',
    'campaign_id'
  )
  .select(
    'campaign_id',
    'campaign_type',
    'window_start',
    'window_end'
  )
  .orderBy(
    'campaign_id'
  )
).cache()

display(campaign_desc.limit(10).toPandas())

   campaign_id campaign_type window_start  window_end
0            1             B   2020-12-11  2021-04-17
1            2             B   2020-12-16  2021-04-17
2            3             C   2020-12-21  2021-05-16
3            4             B   2021-01-06  2021-05-08
4            5             B   2021-01-11  2021-05-15
5            6             C   2021-01-27  2021-05-29
6            7             B   2021-02-01  2021-06-05
7            8             A   2021-02-15  2021-07-03
8            9             B   2021-03-10  2021-07-10
9           10             B   2021-04-07  2021-08-07

In [4]:
# Sales data
transaction_data = (
  spark
  .createDataFrame(
    pd.read_csv('data/transaction_data.csv')
  )
  .withColumn(
    'day',
    sf.col('day').cast('integer')
  )
  .withColumnRenamed(
    'household_key',
    'household_id'
  )
  .withColumnRenamed(
    'sales_value',
    'revenue_usd'
  )
  .withColumn(
    'transaction_day',
    days_to_date(sf.col('day'))
  )
).cache()

display(transaction_data.limit(10).toPandas())

22/05/06 18:46:18 WARN TaskSetManager: Stage 8 contains a task of very large size (13913 KiB). The maximum recommended task size is 1000 KiB.

,household_id,BASKET_ID,day,PRODUCT_ID,QUANTITY,revenue_usd,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC,transaction_day
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,2020-01-01
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,2020-01-01
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,2020-01-01
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,2020-01-01
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,2020-01-01
5,2375,26984851516,1,826249,2,1.98,364,-0.60,1642,1,0.0,0.0,2020-01-01
6,2375,26984851516,1,1043142,1,1.57,364,-0.68,1642,1,0.0,0.0,2020-01-01
7,2375,26984851516,1,1085983,1,2.99,364,-0.40,1642,1,0.0,0.0,2020-01-01
8,2375,26984851516,1,1102651,1,1.89,364,0.00,1642,1,0.0,0.0,2020-01-01
9,2375,26984851516,1,6423775,1,2.00,364,-0.79,1642,1,0.0,0.0,2020-01-01

In [5]:
# Only need daily-level granularity for this toy example
transaction_summary = (
  transaction_data
  .groupBy(
    'household_id',
    'transaction_day'
  )
  .agg(
    sf.sum('revenue_usd').alias('revenue_usd')
  )
  .orderBy(
    'household_id',
    'transaction_day'
  )
).cache()

display(transaction_summary.limit(10).toPandas())

22/05/06 18:46:21 WARN TaskSetManager: Stage 9 contains a task of very large size (13913 KiB). The maximum recommended task size is 1000 KiB.

   household_id transaction_day  revenue_usd
0             1      2020-02-20        78.66
1             1      2020-03-07        41.10
2             1      2020-03-28        26.90
3             1      2020-04-03        63.43
4             1      2020-04-10        53.45
5             1      2020-04-17        26.76
6             1      2020-04-20        23.55
7             1      2020-05-07       110.34
8             1      2020-05-16        87.44
9             1      2020-05-25        73.32

In [6]:
# Let's see if we have overlapping campaigns
master_campaign = (
  campaign_table
  .join(
    campaign_desc.select('campaign_id', 'window_start', 'window_end'),
    how='left',
    on='campaign_id'
  )
  # We need to determine if there is OVERLAP between campaigns of the same type
  # If so, then consolidate into a single record. This will make the window
  # creation logic easier below.
  .withColumn(
    'window_end_lag',
    sf.lag('window_end').over(
      Window()
      .partitionBy(
        'household_id',
        'campaign_type'
      )
      .orderBy(
        'window_start'
      )
    )
  )
  # Does the previous campaign end AFTER the next campaign begins?
  .withColumn(
    'is_overlap',
    sf.col('window_end_lag') >= sf.col('window_start')
  )
  .withColumn(
    'campaign_type_lag',
    sf.lag('campaign_type').over(
      Window()
      .partitionBy(
        'household_id'
      )
      .orderBy(
        'window_start'
      )
    )
  )
  .withColumn(
    'is_diff_type',
    sf.col('campaign_type_lag') != sf.col('campaign_type')
  )
  .fillna(
    False,
    subset=['is_overlap', 'is_diff_type']
  )
  .withColumn(
    'is_new_window',
    (
      (~sf.col('is_overlap')) |
      (
        sf.col('is_overlap') &
        sf.col('is_diff_type')
      )
    )
  )
  # Add in a campaign_record_id
  .withColumn(
    'campaign_record_id',
    sf.sum((sf.col('is_new_window')).cast('integer')).over(
      Window()
      .orderBy(
        'household_id',
        'window_start'
      )
      .rowsBetween(
        Window.unboundedPreceding,
        0
      )
    )
  )
  .orderBy(
    'household_id',
    'window_start'
  )
).cache()

display(master_campaign.limit(10).toPandas())

22/05/06 18:46:32 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

,campaign_id,campaign_type,household_id,window_start,window_end,window_end_lag,is_overlap,campaign_type_lag,is_diff_type,is_new_window,campaign_record_id
0,29,B,1,2020-10-07,2021-02-27,None,False,None,False,True,1
1,8,A,1,2021-02-15,2021-07-03,None,False,B,True,True,2
2,12,B,1,2021-04-21,2021-08-21,2021-02-27,False,A,True,True,3
3,13,A,1,2021-05-18,2021-10-02,2021-07-03,True,B,True,True,4
4,18,A,1,2021-08-09,2022-01-01,2021-10-02,True,A,False,False,4
5,20,C,1,2021-09-06,2022-02-13,None,False,A,True,True,5
6,22,B,1,2021-09-15,2022-01-15,2021-08-21,False,C,True,True,6
7,23,B,1,2021-10-07,2022-02-12,2022-01-15,True,B,False,False,6
8,18,A,2,2021-08-09,2022-01-01,None,False,None,False,True,7
9,8,A,3,2021-02-15,2021-07-03,None,False,None,False,True,8

In [7]:
# Consolidate campaign_records so we have a single record per time slot/campaign type
# This makes window creation simpler below.
master_campaign = (
  master_campaign
  .groupBy(
    'campaign_record_id',
    'household_id',
    'campaign_type'
  )
  .agg(
    sf.min('window_start').alias('window_start'),
    sf.max('window_end').alias('window_end')
  )
).cache()

# Spot check with a household_id we know has some overlapping campaign_types
display(
    master_campaign
    .filter(sf.col('household_id') == 1)
    .orderBy('window_start')
    .limit(10)
    .toPandas()
)

   campaign_record_id  household_id campaign_type window_start  window_end
0                   1             1             B   2020-10-07  2021-02-27
1                   2             1             A   2021-02-15  2021-07-03
2                   3             1             B   2021-04-21  2021-08-21
3                   4             1             A   2021-05-18  2022-01-01
4                   5             1             C   2021-09-06  2022-02-13
5                   6             1             B   2021-09-15  2022-02-12

In [8]:
# Let's build our "treatment" windows for attribution purposes
window_map = (
  master_campaign.alias('a')
  .join(
    master_campaign.alias('b'),
    on=(
      (
        sf.col('b.window_start').between(sf.col('a.window_start'), sf.col('a.window_end'))
      ) &
      (
        sf.col('a.household_id') == sf.col('b.household_id')
      )
    )
  )
  .select(
    'a.household_id',
    sf.col('a.campaign_record_id').alias('window_id'),
    'a.window_start',
    'a.window_end',
    'b.campaign_record_id',
    'b.campaign_type'
  )
  # We'll assign a new 'player_id' column to conform to package requirements
  .withColumn(
    'treatment',
    sf.col('campaign_type')
  )
  .orderBy(
    'window_id',
    'window_start'
  )
).cache()

display(window_map.limit(10).toPandas())

,household_id,window_id,window_start,window_end,campaign_record_id,campaign_type,treatment
0,1,1,2020-10-07,2021-02-27,1,B,B
1,1,1,2020-10-07,2021-02-27,2,A,A
2,1,2,2021-02-15,2021-07-03,2,A,A
3,1,2,2021-02-15,2021-07-03,3,B,B
4,1,2,2021-02-15,2021-07-03,4,A,A
5,1,3,2021-04-21,2021-08-21,3,B,B
6,1,3,2021-04-21,2021-08-21,4,A,A
7,1,4,2021-05-18,2022-01-01,4,A,A
8,1,4,2021-05-18,2022-01-01,5,C,C
9,1,4,2021-05-18,2022-01-01,6,B,B

In [14]:
# Now that we have the windows mapped, we need to pivot into a wide data frame for attribution
attribution_window = (
  window_map
  .groupBy(
    'household_id',
    'window_id',
    'window_start',
    'window_end'
  )
  .pivot(
    'treatment'
  )
  .count()
  .fillna(
    0,
    subset=treatments
  )
).cache()

In [9]:
# Convert player columns into boolean values
treatments = (
    window_map
    .select('treatment')
    .dropDuplicates()
    .toPandas()
    ['treatment']
    .tolist()
)

# Sort player_ids
treatments.sort()

# Convert to tuple
treatments = tuple(treatments)

display(treatments)

('A', 'B', 'C')

In [10]:
display(window_map.limit(10).toPandas())

,household_id,window_id,window_start,window_end,campaign_record_id,campaign_type,treatment
0,1,1,2020-10-07,2021-02-27,1,B,B
1,1,1,2020-10-07,2021-02-27,2,A,A
2,1,2,2021-02-15,2021-07-03,2,A,A
3,1,2,2021-02-15,2021-07-03,3,B,B
4,1,2,2021-02-15,2021-07-03,4,A,A
5,1,3,2021-04-21,2021-08-21,3,B,B
6,1,3,2021-04-21,2021-08-21,4,A,A
7,1,4,2021-05-18,2022-01-01,4,A,A
8,1,4,2021-05-18,2022-01-01,5,C,C
9,1,4,2021-05-18,2022-01-01,6,B,B

In [16]:
treatment_data = (
    window_map
    .groupBy(
        'window_id'
    )
    # Don't need to maintain order in our case, so collect set is OK here
    .agg(
        sf.collect_set('treatment').alias('impressions')
    )
    .withColumnRenamed(
        'window_id',
        'identifier'
    )
).cache()


# # Convert impressions column to tuple
# treatment_data['impressions'] = treatment_data.impressions.apply(lambda x: tuple(x))

# treatment_data.head()
# display(treatment_data.limit(10).toPandas().to_dict(orient='records'))

22/05/06 18:56:25 WARN CacheManager: Asked to cache already cached data.

In [17]:
# Now we need REVENUE per window
revenue_to_window = (
  attribution_window.select('household_id', 'window_id', 'window_start', 'window_end').alias('a')
  .join(
    transaction_summary.alias('b'),
    on=(
      sf.col('b.transaction_day').between(
        sf.col('a.window_start'),
        sf.col('a.window_end')
      ) &
      (
        sf.col('a.household_id') == sf.col('b.household_id')
      )
    ),
    how='left'
  )
  # Sum up revenue per window
  .groupBy(
    # Household_id here mostly for spot checking
#     'a.household_id',
    'window_id'
  )
  .agg(
    sf.sum('revenue_usd').alias('revenue_usd')
  )
  .fillna(
    0,
    subset=['revenue_usd']
  )
  # Truncate to dollars so I don't have to stare at floating point numbers
  .withColumn(
    'revenue_usd',
    sf.col('revenue_usd').cast('long')
  )
  .withColumnRenamed(
    'window_id',
    'identifier'
  )
).cache()

display(revenue_to_window.limit(10).toPandas())

   identifier  revenue_usd
0           1          944
1           2          952
2           3          776
3           4         1389
4           5          717
5           6          628
6           7          332
7           8          433
8           9          199
9          10           68

In [18]:
attribution_data = (
    treatment_data
    .join(
        revenue_to_window,
        on='identifier',
        how='left'
    )
    .withColumnRenamed(
        'revenue_usd',
        'value'
    )
    .toPandas()
)

attribution_data['impressions'] = attribution_data.impressions.apply(lambda x: tuple(x))

# Convert to JSON
attribution_data_json = attribution_data.to_dict(orient='records')

In [23]:
# Write to file
import json

with open('data/example_data.json', 'w') as f:
    json.dump(attribution_data_json, f)

In [24]:
with open('data/example_data.json', 'r') as f:
    x = json.load(f)

In [25]:
x

[{'identifier': 1, 'impressions': ['B', 'A'], 'value': 944},
 {'identifier': 2, 'impressions': ['B', 'A'], 'value': 952},
 {'identifier': 3, 'impressions': ['B', 'A'], 'value': 776},
 {'identifier': 4, 'impressions': ['C', 'B', 'A'], 'value': 1389},
 {'identifier': 5, 'impressions': ['C', 'B'], 'value': 717},
 {'identifier': 6, 'impressions': ['B'], 'value': 628},
 {'identifier': 7, 'impressions': ['A'], 'value': 332},
 {'identifier': 8, 'impressions': ['C', 'A'], 'value': 433},
 {'identifier': 9, 'impressions': ['C'], 'value': 199},
 {'identifier': 10, 'impressions': ['A'], 'value': 68},
 {'identifier': 11, 'impressions': ['B', 'A'], 'value': 1269},
 {'identifier': 12, 'impressions': ['A'], 'value': 2635},
 {'identifier': 13, 'impressions': ['B', 'A'], 'value': 1527},
 {'identifier': 14, 'impressions': ['A'], 'value': 1079},
 {'identifier': 15, 'impressions': ['B', 'A'], 'value': 1833},
 {'identifier': 16, 'impressions': ['B', 'A'], 'value': 1020},
 {'identifier': 17, 'impressions': ['B', 'A'], 'value': 972},
 {'identifier': 18, 'impressions': ['B', 'A'], 'value': 1247},
 {'identifier': 19, 'impressions': ['B', 'A'], 'value': 1459},
 {'identifier': 20, 'impressions': ['B', 'A'], 'value': 1421},
 {'identifier': 21, 'impressions': ['B'], 'value': 1147},
 {'identifier': 22, 'impressions': ['B', 'A'], 'value': 2772},
 {'identifier': 23, 'impressions': ['B', 'A'], 'value': 2702},
 {'identifier': 24, 'impressions': ['B', 'A'], 'value': 3402},
 {'identifier': 25, 'impressions': ['C', 'B', 'A'], 'value': 4659},
 {'identifier': 26, 'impressions': ['C', 'B'], 'value': 2325},
 {'identifier': 27, 'impressions': ['B'], 'value': 1985},
 {'identifier': 28, 'impressions': ['A'], 'value': 1107},
 {'identifier': 29, 'impressions': ['C', 'A'], 'value': 316},
 {'identifier': 30, 'impressions': ['C', 'A'], 'value': 631},
 {'identifier': 31, 'impressions': ['C', 'A'], 'value': 529},
 {'identifier': 32, 'impressions': ['C'], 'value': 463},
 {'identifier': 33, 'impressions': ['B', 'A'], 'value': 318},
 {'identifier': 34, 'impressions': ['A'], 'value': 108},
 {'identifier': 35, 'impressions': ['A'], 'value': 3136},
 {'identifier': 36, 'impressions': ['B', 'A'], 'value': 3941},
 {'identifier': 37, 'impressions': ['B'], 'value': 1557},
 {'identifier': 38, 'impressions': ['C', 'B', 'A'], 'value': 3849},
 {'identifier': 39, 'impressions': ['C', 'B', 'A'], 'value': 3947},
 {'identifier': 40, 'impressions': ['C', 'B', 'A'], 'value': 3566},
 {'identifier': 41, 'impressions': ['C', 'B', 'A'], 'value': 3757},
 {'identifier': 42, 'impressions': ['C', 'B', 'A'], 'value': 2640},
 {'identifier': 43, 'impressions': ['C', 'B', 'A'], 'value': 2485},
 {'identifier': 44, 'impressions': ['C', 'B'], 'value': 1551},
 {'identifier': 45, 'impressions': ['B'], 'value': 1422},
 {'identifier': 46, 'impressions': ['B', 'A'], 'value': 2182},
 {'identifier': 47, 'impressions': ['B', 'A'], 'value': 2272},
 {'identifier': 48, 'impressions': ['B', 'A'], 'value': 1898},
 {'identifier': 49, 'impressions': ['B', 'A'], 'value': 2946},
 {'identifier': 50, 'impressions': ['B'], 'value': 1299},
 {'identifier': 51, 'impressions': ['B', 'A'], 'value': 1835},
 {'identifier': 52, 'impressions': ['B', 'A'], 'value': 1063},
 {'identifier': 53, 'impressions': ['B', 'A'], 'value': 1229},
 {'identifier': 54, 'impressions': ['B', 'A'], 'value': 1102},
 {'identifier': 55, 'impressions': ['B', 'A'], 'value': 2281},
 {'identifier': 56, 'impressions': ['B'], 'value': 1051},
 {'identifier': 57, 'impressions': ['A'], 'value': 965},
 {'identifier': 58, 'impressions': ['A'], 'value': 2023},
 {'identifier': 59, 'impressions': ['A'], 'value': 197},
 {'identifier': 60, 'impressions': ['B', 'A'], 'value': 1396},
 {'identifier': 61, 'impressions': ['B', 'A'], 'value': 1974},
 {'identifier': 62, 'impressions': ['B', 'A'], 'value': 3856},
 {'identifier': 63, 'impressions': ['B', 'A'], 'value': 1308},
 {'identifier': 64, 'impressions': ['A'], 'value': 1394},
 {'identifier': 65, 'impressions': ['C', 'A'], 'value': 770},
 {'identifier': 66, 'impressions': ['C', 'A'], 'value': 554},
 {'identifier': 67, 'impressions': ['A'], 'value': 422},
 {'identifier': 68, 'impressions': ['B', 'A'], 'value': 184},
 {'identifier': 69, 'impressions': ['B', 'A'], 'value': 156},
 {'identifier': 70, 'impressions': ['B', 'A'], 'value': 80},
 {'identifier': 71, 'impressions': ['B'], 'value': 39},
 {'identifier': 72, 'impressions': ['B'], 'value': 1011},
 {'identifier': 73, 'impressions': ['B', 'A'], 'value': 433},
 {'identifier': 74, 'impressions': ['B', 'A'], 'value': 351},
 {'identifier': 75, 'impressions': ['A'], 'value': 1809},
 {'identifier': 76, 'impressions': ['B', 'A'], 'value': 1199},
 {'identifier': 77, 'impressions': ['B', 'A'], 'value': 1417},
 {'identifier': 78, 'impressions': ['B'], 'value': 1434},
 {'identifier': 79, 'impressions': ['A'], 'value': 341},
 {'identifier': 80, 'impressions': ['A'], 'value': 907},
 {'identifier': 81, 'impressions': ['B'], 'value': 120},
 {'identifier': 82, 'impressions': ['A'], 'value': 2415},
 {'identifier': 83, 'impressions': ['B'], 'value': 414},
 {'identifier': 84, 'impressions': ['C', 'B', 'A'], 'value': 2185},
 {'identifier': 85, 'impressions': ['C', 'B', 'A'], 'value': 2260},
 {'identifier': 86, 'impressions': ['B', 'A'], 'value': 2291},
 {'identifier': 87, 'impressions': ['C', 'B', 'A'], 'value': 2578},
 {'identifier': 88, 'impressions': ['C', 'B', 'A'], 'value': 3234},
 {'identifier': 89, 'impressions': ['C', 'B', 'A'], 'value': 3417},
 {'identifier': 90, 'impressions': ['C', 'B', 'A'], 'value': 3706},
 {'identifier': 91, 'impressions': ['B', 'A'], 'value': 2948},
 {'identifier': 92, 'impressions': ['B', 'A'], 'value': 3114},
 {'identifier': 93, 'impressions': ['B'], 'value': 2685},
 {'identifier': 94, 'impressions': ['A'], 'value': 800},
 {'identifier': 95, 'impressions': ['A'], 'value': 910},
 {'identifier': 96, 'impressions': ['B', 'A'], 'value': 134},
 {'identifier': 97, 'impressions': ['B', 'A'], 'value': 125},
 {'identifier': 98, 'impressions': ['B'], 'value': 79},
 {'identifier': 99, 'impressions': ['B', 'A'], 'value': 46},
 {'identifier': 100, 'impressions': ['B'], 'value': 46},
 {'identifier': 101, 'impressions': ['A'], 'value': 33},
 {'identifier': 102, 'impressions': ['B', 'A'], 'value': 2482},
 {'identifier': 103, 'impressions': ['B', 'A'], 'value': 2193},
 {'identifier': 104, 'impressions': ['C', 'B', 'A'], 'value': 2496},
 {'identifier': 105, 'impressions': ['C', 'B', 'A'], 'value': 2669},
 {'identifier': 106, 'impressions': ['C', 'B', 'A'], 'value': 2479},
 {'identifier': 107, 'impressions': ['C', 'B'], 'value': 1838},
 {'identifier': 108, 'impressions': ['B'], 'value': 1590},
 {'identifier': 109, 'impressions': ['A'], 'value': 1184},
 {'identifier': 110, 'impressions': ['B', 'A'], 'value': 248},
 {'identifier': 111, 'impressions': ['B'], 'value': 248},
 {'identifier': 112, 'impressions': ['B', 'A'], 'value': 1935},
 {'identifier': 113, 'impressions': ['B', 'A'], 'value': 2350},
 {'identifier': 114, 'impressions': ['B'], 'value': 710},
 {'identifier': 115, 'impressions': ['A'], 'value': 2034},
 {'identifier': 116, 'impressions': ['B', 'A'], 'value': 1525},
 {'identifier': 117, 'impressions': ['B', 'A'], 'value': 1124},
 {'identifier': 118, 'impressions': ['B', 'A'], 'value': 1384},
 {'identifier': 119, 'impressions': ['B', 'A'], 'value': 1111},
 {'identifier': 120, 'impressions': ['B', 'A'], 'value': 1202},
 {'identifier': 121, 'impressions': ['B'], 'value': 887},
 {'identifier': 122, 'impressions': ['B', 'A'], 'value': 167},
 {'identifier': 123, 'impressions': ['B', 'A'], 'value': 129},
 {'identifier': 124, 'impressions': ['A'], 'value': 317},
 {'identifier': 125, 'impressions': ['A'], 'value': 1580},
 {'identifier': 126, 'impressions': ['B'], 'value': 815},
 {'identifier': 127, 'impressions': ['B', 'A'], 'value': 140},
 {'identifier': 128, 'impressions': ['A'], 'value': 1242},
 {'identifier': 129, 'impressions': ['B', 'A'], 'value': 2467},
 {'identifier': 130, 'impressions': ['B', 'A'], 'value': 2733},
 {'identifier': 131, 'impressions': ['B', 'A'], 'value': 4725},
 {'identifier': 132, 'impressions': ['B', 'A'], 'value': 1831},
 {'identifier': 133, 'impressions': ['B'], 'value': 1240},
 {'identifier': 134, 'impressions': ['B', 'A'], 'value': 2397},
 {'identifier': 135, 'impressions': ['B'], 'value': 1154},
 {'identifier': 136, 'impressions': ['B', 'A'], 'value': 541},
 {'identifier': 137, 'impressions': ['B', 'A'], 'value': 566},
 {'identifier': 138, 'impressions': ['B', 'A'], 'value': 321},
 {'identifier': 139, 'impressions': ['A'], 'value': 664},
 {'identifier': 140, 'impressions': ['B', 'A'], 'value': 1883},
 {'identifier': 141, 'impressions': ['B', 'A'], 'value': 1822},
 {'identifier': 142, 'impressions': ['B', 'A'], 'value': 2668},
 {'identifier': 143, 'impressions': ['B', 'A'], 'value': 3262},
 {'identifier': 144, 'impressions': ['B', 'A'], 'value': 3154},
 {'identifier': 145, 'impressions': ['B'], 'value': 2406},
 {'identifier': 146, 'impressions': ['B', 'A'], 'value': 2114},
 {'identifier': 147, 'impressions': ['B', 'A'], 'value': 1094},
 {'identifier': 148, 'impressions': ['C', 'B', 'A'], 'value': 1464},
 {'identifier': 149, 'impressions': ['C', 'B', 'A'], 'value': 1276},
 {'identifier': 150, 'impressions': ['C', 'B', 'A'], 'value': 1056},
 {'identifier': 151, 'impressions': ['B', 'A'], 'value': 745},
 {'identifier': 152, 'impressions': ['B', 'A'], 'value': 751},
 {'identifier': 153, 'impressions': ['B'], 'value': 575},
 {'identifier': 154, 'impressions': ['B', 'A'], 'value': 991},
 {'identifier': 155, 'impressions': ['C', 'B', 'A'], 'value': 1330},
 {'identifier': 156, 'impressions': ['C', 'B', 'A'], 'value': 1196},
 {'identifier': 157, 'impressions': ['C', 'B', 'A'], 'value': 1240},
 {'identifier': 158, 'impressions': ['C', 'B', 'A'], 'value': 1581},
 {'identifier': 159, 'impressions': ['B', 'A'], 'value': 1241},
 {'identifier': 160, 'impressions': ['A'], 'value': 1265},
 {'identifier': 161, 'impressions': ['A'], 'value': 686},
 {'identifier': 162, 'impressions': ['C', 'B', 'A'], 'value': 1584},
 {'identifier': 163, 'impressions': ['B', 'A'], 'value': 1604},
 {'identifier': 164, 'impressions': ['C', 'B', 'A'], 'value': 1575},
 {'identifier': 165, 'impressions': ['C', 'B', 'A'], 'value': 1077},
 {'identifier': 166, 'impressions': ['C', 'B', 'A'], 'value': 857},
 {'identifier': 167, 'impressions': ['C', 'B'], 'value': 347},
 {'identifier': 168, 'impressions': ['B'], 'value': 139},
 {'identifier': 169, 'impressions': ['B', 'A'], 'value': 927},
 {'identifier': 170, 'impressions': ['B', 'A'], 'value': 465},
 {'identifier': 171, 'impressions': ['A'], 'value': 236},
 {'identifier': 172, 'impressions': ['B', 'A'], 'value': 469},
 {'identifier': 173, 'impressions': ['B', 'A'], 'value': 564},
 {'identifier': 174, 'impressions': ['B', 'A'], 'value': 187},
 {'identifier': 175, 'impressions': ['A'], 'value': 132},
 {'identifier': 176, 'impressions': ['B'], 'value': 760},
 {'identifier': 177, 'impressions': ['A'], 'value': 1676},
 {'identifier': 178, 'impressions': ['B', 'A'], 'value': 449},
 {'identifier': 179, 'impressions': ['B', 'A'], 'value': 1155},
 {'identifier': 180, 'impressions': ['B', 'A'], 'value': 682},
 {'identifier': 181, 'impressions': ['A'], 'value': 695},
 {'identifier': 182, 'impressions': ['A'], 'value': 906},
 {'identifier': 183, 'impressions': ['B', 'A'], 'value': 1021},
 {'identifier': 184, 'impressions': ['B'], 'value': 762},
 {'identifier': 185, 'impressions': ['B', 'A'], 'value': 656},
 {'identifier': 186, 'impressions': ['C', 'A'], 'value': 751},
 {'identifier': 187, 'impressions': ['C'], 'value': 306},
 {'identifier': 188, 'impressions': ['B'], 'value': 202},
 {'identifier': 189, 'impressions': ['C', 'B', 'A'], 'value': 2548},
 {'identifier': 190, 'impressions': ['C', 'B', 'A'], 'value': 572},
 {'identifier': 191, 'impressions': ['C', 'A'], 'value': 678},
 {'identifier': 192, 'impressions': ['C'], 'value': 641},
 {'identifier': 193, 'impressions': ['A'], 'value': 1320},
 {'identifier': 194, 'impressions': ['A'], 'value': 527},
 {'identifier': 195, 'impressions': ['C', 'B', 'A'], 'value': 2472},
 {'identifier': 196, 'impressions': ['C', 'B', 'A'], 'value': 2487},
 {'identifier': 197, 'impressions': ['C', 'B', 'A'], 'value': 2779},
 {'identifier': 198, 'impressions': ['C', 'B', 'A'], 'value': 2439},
 {'identifier': 199, 'impressions': ['C', 'B', 'A'], 'value': 2280},
 {'identifier': 200, 'impressions': ['C', 'B'], 'value': 2693},
 {'identifier': 201, 'impressions': ['C', 'B'], 'value': 2201},
 {'identifier': 202, 'impressions': ['C', 'B'], 'value': 1586},
 {'identifier': 203, 'impressions': ['B'], 'value': 1411},
 {'identifier': 204, 'impressions': ['A'], 'value': 1434},
 {'identifier': 205, 'impressions': ['A'], 'value': 230},
 {'identifier': 206, 'impressions': ['B', 'A'], 'value': 943},
 {'identifier': 207, 'impressions': ['B', 'A'], 'value': 1087},
 {'identifier': 208, 'impressions': ['B', 'A'], 'value': 975},
 {'identifier': 209, 'impressions': ['B', 'A'], 'value': 1142},
 {'identifier': 210, 'impressions': ['C', 'B', 'A'], 'value': 822},
 {'identifier': 211, 'impressions': ['C', 'B', 'A'], 'value': 710},
 {'identifier': 212, 'impressions': ['C', 'B', 'A'], 'value': 228},
 {'identifier': 213, 'impressions': ['C', 'B', 'A'], 'value': 145},
 {'identifier': 214, 'impressions': ['B', 'A'], 'value': 0},
 {'identifier': 215, 'impressions': ['A'], 'value': 0},
 {'identifier': 216, 'impressions': ['C', 'A'], 'value': 2425},
 {'identifier': 217, 'impressions': ['C', 'A'], 'value': 1692},
 {'identifier': 218, 'impressions': ['C', 'A'], 'value': 1500},
 {'identifier': 219, 'impressions': ['C'], 'value': 1215},
 {'identifier': 220, 'impressions': ['A'], 'value': 470},
 {'identifier': 221, 'impressions': ['B', 'A'], 'value': 1053},
 {'identifier': 222, 'impressions': ['B', 'A'], 'value': 2197},
 {'identifier': 223, 'impressions': ['B'], 'value': 723},
 {'identifier': 224, 'impressions': ['C', 'A'], 'value': 320},
 {'identifier': 225, 'impressions': ['A'], 'value': 326},
 {'identifier': 226, 'impressions': ['B', 'A'], 'value': 2715},
 {'identifier': 227, 'impressions': ['B'], 'value': 308},
 {'identifier': 228, 'impressions': ['B', 'A'], 'value': 1531},
 {'identifier': 229, 'impressions': ['B', 'A'], 'value': 1654},
 {'identifier': 230, 'impressions': ['B', 'A'], 'value': 2838},
 {'identifier': 231, 'impressions': ['B'], 'value': 557},
 {'identifier': 232, 'impressions': ['A'], 'value': 80},
 {'identifier': 233, 'impressions': ['C', 'B', 'A'], 'value': 2027},
 {'identifier': 234, 'impressions': ['C', 'B', 'A'], 'value': 1887},
 {'identifier': 235, 'impressions': ['C', 'B', 'A'], 'value': 2720},
 {'identifier': 236, 'impressions': ['C', 'B', 'A'], 'value': 3129},
 {'identifier': 237, 'impressions': ['C', 'A'], 'value': 3096},
 {'identifier': 238, 'impressions': ['C'], 'value': 2419},
 {'identifier': 239, 'impressions': ['B', 'A'], 'value': 1154},
 {'identifier': 240, 'impressions': ['B', 'A'], 'value': 1345},
 {'identifier': 241, 'impressions': ['B', 'A'], 'value': 999},
 {'identifier': 242, 'impressions': ['B', 'A'], 'value': 897},
 {'identifier': 243, 'impressions': ['B', 'A'], 'value': 528},
 {'identifier': 244, 'impressions': ['B', 'A'], 'value': 504},
 {'identifier': 245, 'impressions': ['A'], 'value': 1159},
 {'identifier': 246, 'impressions': ['B', 'A'], 'value': 287},
 {'identifier': 247, 'impressions': ['B', 'A'], 'value': 105},
 {'identifier': 248, 'impressions': ['B', 'A'], 'value': 302},
 {'identifier': 249, 'impressions': ['A'], 'value': 361},
 {'identifier': 250, 'impressions': ['B', 'A'], 'value': 1037},
 {'identifier': 251, 'impressions': ['B', 'A'], 'value': 910},
 {'identifier': 252, 'impressions': ['A'], 'value': 1232},
 {'identifier': 253, 'impressions': ['B', 'A'], 'value': 1347},
 {'identifier': 254, 'impressions': ['B'], 'value': 394},
 {'identifier': 255, 'impressions': ['A'], 'value': 127},
 {'identifier': 256, 'impressions': ['A'], 'value': 261},
 {'identifier': 257, 'impressions': ['C', 'B', 'A'], 'value': 3144},
 {'identifier': 258, 'impressions': ['C', 'B', 'A'], 'value': 2959},
 {'identifier': 259, 'impressions': ['B', 'A'], 'value': 2783},
 {'identifier': 260, 'impressions': ['B', 'A'], 'value': 3143},
 {'identifier': 261, 'impressions': ['B', 'A'], 'value': 3178},
 {'identifier': 262, 'impressions': ['C', 'B', 'A'], 'value': 3159},
 {'identifier': 263, 'impressions': ['C', 'B', 'A'], 'value': 3230},
 {'identifier': 264, 'impressions': ['C', 'B', 'A'], 'value': 3426},
 {'identifier': 265, 'impressions': ['C', 'B'], 'value': 2597},
 {'identifier': 266, 'impressions': ['B'], 'value': 2413},
 {'identifier': 267, 'impressions': ['A'], 'value': 434},
 {'identifier': 268, 'impressions': ['A'], 'value': 1548},
 {'identifier': 269, 'impressions': ['B', 'A'], 'value': 3310},
 {'identifier': 270, 'impressions': ['C', 'B', 'A'], 'value': 2984},
 {'identifier': 271, 'impressions': ['C', 'B', 'A'], 'value': 3420},
 {'identifier': 272, 'impressions': ['C', 'B', 'A'], 'value': 3405},
 {'identifier': 273, 'impressions': ['C', 'B', 'A'], 'value': 3966},
 {'identifier': 274, 'impressions': ['C', 'B', 'A'], 'value': 3213},
 {'identifier': 275, 'impressions': ['C', 'B', 'A'], 'value': 3140},
 {'identifier': 276, 'impressions': ['C', 'B'], 'value': 2746},
 {'identifier': 277, 'impressions': ['C'], 'value': 2404},
 {'identifier': 278, 'impressions': ['B', 'A'], 'value': 185},
 {'identifier': 279, 'impressions': ['A'], 'value': 167},
 {'identifier': 280, 'impressions': ['A'], 'value': 509},
 {'identifier': 281, 'impressions': ['C', 'B', 'A'], 'value': 795},
 {'identifier': 282, 'impressions': ['C', 'B', 'A'], 'value': 492},
 {'identifier': 283, 'impressions': ['B', 'A'], 'value': 367},
 {'identifier': 284, 'impressions': ['B', 'A'], 'value': 354},
 {'identifier': 285, 'impressions': ['B'], 'value': 224},
 {'identifier': 286, 'impressions': ['B', 'A'], 'value': 842},
 {'identifier': 287, 'impressions': ['B', 'A'], 'value': 1636},
 {'identifier': 288, 'impressions': ['B', 'A'], 'value': 1001},
 {'identifier': 289, 'impressions': ['A'], 'value': 983},
 {'identifier': 290, 'impressions': ['A'], 'value': 594},
 {'identifier': 291, 'impressions': ['A'], 'value': 779},
 {'identifier': 292, 'impressions': ['A'], 'value': 865},
 {'identifier': 293, 'impressions': ['A'], 'value': 670},
 {'identifier': 294, 'impressions': ['A'], 'value': 1119},
 {'identifier': 295, 'impressions': ['B', 'A'], 'value': 3982},
 {'identifier': 296, 'impressions': ['B', 'A'], 'value': 1961},
 {'identifier': 297, 'impressions': ['C', 'B', 'A'], 'value': 3553},
 {'identifier': 298, 'impressions': ['C', 'B', 'A'], 'value': 2535},
 {'identifier': 299, 'impressions': ['C', 'B', 'A'], 'value': 1965},
 {'identifier': 300, 'impressions': ['C', 'B'], 'value': 1547},
 {'identifier': 301, 'impressions': ['B'], 'value': 1322},
 {'identifier': 302, 'impressions': ['C', 'A'], 'value': 1709},
 {'identifier': 303, 'impressions': ['C', 'A'], 'value': 1657},
 {'identifier': 304, 'impressions': ['C', 'A'], 'value': 1356},
 {'identifier': 305, 'impressions': ['C'], 'value': 869},
 {'identifier': 306, 'impressions': ['B', 'A'], 'value': 2481},
 {'identifier': 307, 'impressions': ['B', 'A'], 'value': 858},
 {'identifier': 308, 'impressions': ['B', 'A'], 'value': 1361},
 {'identifier': 309, 'impressions': ['B'], 'value': 849},
 {'identifier': 310, 'impressions': ['B', 'A'], 'value': 1047},
 {'identifier': 311, 'impressions': ['B', 'A'], 'value': 983},
 {'identifier': 312, 'impressions': ['B', 'A'], 'value': 354},
 {'identifier': 313, 'impressions': ['A'], 'value': 657},
 {'identifier': 314, 'impressions': ['B', 'A'], 'value': 836},
 {'identifier': 315, 'impressions': ['B', 'A'], 'value': 730},
 {'identifier': 316, 'impressions': ['A'], 'value': 1315},
 {'identifier': 317, 'impressions': ['B', 'A'], 'value': 3970},
 {'identifier': 318, 'impressions': ['B'], 'value': 648},
 {'identifier': 319, 'impressions': ['A'], 'value': 834},
 {'identifier': 320, 'impressions': ['B', 'A'], 'value': 257},